langchain
langchain_community
langchain-groq
langchain_text_splitters 
langchain-openai
langchain_google_genai
phidata
python-dotenv
streamlit
ollama
faiss-cpu
uvicorn
groq
openai
duckduckgo-search
Pillow
openpyxl
pandas 
numpy 
ipykernel
streamlit-extras
google-search-results
PyGWalker