phidata
python-dotenv
yfinance
packaging 
duckduckgo-search
fastapi
uvicorn
groq
openai
arxiv
pypdf
streamlit
pandas
plotly
googlesearch-python
pycountry
ollama
lancedb
tantivy
google.generativeai
crewai
crewai-tools
langchain_google_genai
ollama
faiss-cpu