phidata
python-dotenv
yfinance
packaging 
duckduckgo-search
fastapi
uvicorn
groq
openai
arxiv
pypdf
streamlit
pandas
plotly
googlesearch-python
pycountry
ollama
chromadb
lancedb
tantivy
google.generativeai
crewai
crewai-tools
langchain_google_genai
ollama
faiss-cpu
langchain
langchain_community
langchain-groq
langchain_text_splitters 
langchain-openai
#langchain-experimental
langsmith
ragas 
deepeval
ipykernel
tqdm
numpy 
pandas
pgvector
psycopg
ipywidgets
arxiv
pypdf
pymupdf
wikipedia
bs4
scikit-learn
torch
langchain_huggingface
sentence-transformers
Pillow
google-generativeai
together
streamlit-code-editor